name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Backend Image
      run: |
        cd backend
        docker build -t osamafaisal/dd-backend:latest .
        docker push osamafaisal/dd-backend:latest

    - name: Build Frontend Image
      run: |
        cd frontend
        docker build -t osamafaisal/dd-frontend:latest .
        docker push osamafaisal/dd-frontend:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v0.1.8
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ubuntu
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          cd ~/dd-task
          docker-compose pull
          docker-compose down
          docker-compose up -d
